div {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 80%;
}

label {
  font-size: 16px;
  white-space: nowrap;
}

.dropdown-inputs select,
select {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #D9D9D9;
  font-size: 16px;
}

.dropdown-inputs select:focus {
  border-color: #3498db;
  outline: none;
}

