
.dropdown-inputs select {
  width: 80%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #D9D9D9;
  font-size: 16px;
}

.dropdown-inputs select:focus {
  border-color: #3498db;
  outline: none;
}

