button {
  width: 40%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #141414;
  color: white;
}

button:active {
  transform: scale(0.98);
}