div {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

label {
  min-width: 120px;
  text-align: left;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 600;
}

button {
  width: 194px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

button:hover {
  background-color: #141414;
  color: white;
}

button.selected {
  background-color: #141414;
  color: white;
}

button.selected:hover {
  background-color: #1FA2FF;
  color: white;
}

button:active {
  transform: scale(0.98);
}