
input {
  width: 80%;
  padding: 2px;
  border: none;
  border-bottom:  2px solid #CACACA;;
  font-size: 16px;
  background-color: transparent;
}

input:focus {
  border-color: #444444;
  outline: none;
}