div {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 80%;
}

label {
  font-size: 16px;
  white-space: nowrap;
}

input {
  flex: 1;
  padding: 2px;
  border: none;
  border-bottom:  2px solid #CACACA;;
  font-size: 16px;
  background-color: transparent;
}

input:focus {
  border-color: #444444;
  outline: none;
}